@model GenreUpdateVM

<h1>Update</h1>
<form method="post">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input asp-for="Name" class="form-control" aria-describedby="emailHelp">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>